@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  top: 0px;
  width: 100%;
  height: 54px;
  background-color: #005F6A;
  overflow: hidden;
  vertical-align: top;  
  position: absolute;

}

.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a:active {
  background-color: #04AA6D;
  color: white;
}

#appName { 
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  vertical-align: bottom;
  width: 10%;
  padding-top: 13px;
  position: absolute;
  padding-left: 6px;
}

#profile {
  float: right;
  width: 30px;
  height: 30px;
}